body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* -------- CUSTOMSETTINGS ----------- */

/* GENERIC STYLES */
.smartfin-ui *{
  font-family: "Montserrat";
}

.smartfin-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layout {
}

.title-txt {
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat";
}

.btn {
  font-family: "Montserrat";
}

.wrapper {

}

.layout {

}



.thin-txt {
  font-weight: 10;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-title-wrapper {
}


/* HEADER STYLES */
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #001319;
  padding: 20px 10px;
  box-shadow: 0 0 -10px 0px #222;
}

.title-wrapper * {
  margin: 2px 20px;
}


.body-wrapper {
  /* background-color: #001319; */
}

.footer-wrapper {
  background-color: #001319;
  padding: 10px;
  color: #fff;
  padding-left: 50px;
  box-shadow: 0 0 5px 0px #222;
}


/* SMARTGRAPH STYLING */
.body-wrapper {
  display: flex;
  flex-direction: row;
}

.body-header-wrapper {
  background-color: #05191f;
  color: #fff;
}

.MuiTab-root {
  width: 75%;
  padding: 0;
}

.MuiTabs-indicator {
  background-color: #fff;
  margin-right: 3px;
}

.MuiTab-wrapper {
  font-size: smaller;
}



.widget-body-wrapper {
  display: flex;
  width: 100%;
  background-color: #bfbfbf;
  box-shadow: 0 0 5px 0px #222;
}

.widget-area-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
  width: 100%;
  justify-content: flex-start;
}

.widget-wrapper {
  width: 700px;
  margin: 10px 10px;
  box-shadow: 0 0 5px 0px #777;
}

.chart-heading {
  background-color: #001319;
  padding: 8px;
  color: #fff;
  font-size: smaller;
}


.chart-info-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #001319;
  color: #fff;
  padding: 20px;
  margin: 0;
}

.chart-info-wrapper .info-btn {
  background: none;
  border: none;
  color: #fff;
  width: 100%;
  height: 40px; 
}

.chart-info-wrapper .info-btn:hover {
  background-color: teal;
}



 