asgiref==3.2.10
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
cftime==1.2.1
chardet==3.0.4
Django==3.1
django-cors-headers==3.4.0
django-filter==2.3.0
djangorestframework==3.11.1
idna==2.10
Markdown==3.2.2
netCDF4==1.5.4
numpy==1.19.1
pandas==1.1.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scipy==1.5.2
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.10
